<div class="row">
  <div class="col-md-4">
    <input placeholder="Filter by name" #filter class="form-control" (input)="searchTable()" />
  </div>
  <div class="col-md-4 offset-4">
    <button class="btn btn-outline-success" (click)="openPopUp()">Add Item</button>
  </div>
</div>
<br>
<ag-grid-angular [gridOptions]="gridOptions" style="width: 100%;" class="ag-theme-bootstrap">
</ag-grid-angular>
<div bsModal #template="bs-modal" class="modal fade" tabindex="-1">
  <app-new-item *ngIf="popUpShow" (close)="closePopUp()" (itemSubmit)="upsertItem($event)" [oldItem]="oldItem"></app-new-item>
</div>